@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(95.38% 0.0357 72.89);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(72.27% 0.1894 50.19);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --destructive: oklch(0.6 0.2 30);
}

.dark {
  --background: oklch(0.26 0.0129 204.71);
  --secondary-background: oklch(0.41 0.0191 248.29);
  --foreground: oklch(0.95 0.0046 258.32);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(0.54 0.0238 232.49);
  --border: oklch(0.32 0.0158 248.32);
  --ring: oklch(0.95 0.0046 258.32);
  --destructive: oklch(0.39 0.1447 13.49);
  --shadow: 4px 4px 0px 0px var(--border);
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;

  --font-oswald: var(--font-oswald);
  --font-caveat: var(--font-caveat);
}

body {
  background-color: var(--background);
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
}

html.dark body,
html.dark .scrollbar {
  --sb-track-color: #1f1f1f;
  --sb-thumb-color: #e6e6e6;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-left: 4px solid #000;
}

html.dark body::-webkit-scrollbar-thumb {
  border-left: 4px solid #000;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* coinflip */
@keyframes coin-flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.animate-coin-flip {
  animation: coin-flip 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.bg-coin-heads {
  background-image: url('/games/coin-heads.png');
  background-size: cover;
}

.bg-coin-tails {
  background-image: url('/games/coin-tails.png');
  background-size: cover;
}
